# Ignore system/user files
.vscode/
AppData/
Desktop/
Downloads/
Documents/
*.blb
*.bin
*.DAT
*.ini
*.regtrans-ms
*.LOG1
*.LOG2

# Ignore Python and node environments
miniconda3/
node_modules/
__pycache__/
*.pyc

# Ignore VS Code extensions and settings
.vscode/extensions/

# Ignore workspace files
workspace/
